<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utwórz Konto</title>
</head>
<body>
    <h2>Utwórz Konto</h2>
    <form method="post" action="{% url 'create_user' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Utwórz Konto">
    </form>

    <a href="{% url 'home' %}"><button>Powrót</button></a>

    <p>Wersja aplikacji: {{ app_version.version_number }}, Data wydania: {{ app_version.release_date }}</p>
</body>
</html>
