<!-- templates/logout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wylogowanie</title>
</head>
<body>
    <h1>Czy na pewno chcesz się wylogować?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Wyloguj</button>
    </form>
    <a href="{% url 'dashboard' %}"><button type="button">Powrót</button></a>

    <footer>
       <p>Wersja aplikacji: {{ app_version.version_number }}, Data wydania: {{ app_version.release_date }}</p>
    </footer>
</body>
</html>
