<!-- templates/show_password.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Password</title>
</head>
<body>
    <h1>Show Password</h1>
    <p>Strona: {{ record.page_name }}</p>
    <p>Login: {{ record.login }}</p>
    <p>Hasło: {{ record.password }}</p>

    <button onclick="copyToClipboard('login')">Kopiuj login</button>
    <button onclick="copyToClipboard('password')">Kopiuj hasło</button>

    <script>
        function copyToClipboard(type) {
            var valueToCopy = type === 'login' ? '{{ record.login }}' : '{{ record.password }}';
            navigator.clipboard.writeText(valueToCopy)
                .then(function() {
                    alert('Skopiowano ' + type + ' do schowka: ' + valueToCopy);
                })
                .catch(function(err) {
                    console.error('Błąd podczas kopiowania do schowka: ', err);
                });
        }
    </script>
    {% include '_back_button.html' %}

    <footer>
       <p>Wersja aplikacji: {{ app_version.version_number }}, Data wydania: {{ app_version.release_date }}</p>
    </footer>
</body>
</html>
